.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
#s4{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: azure;
    width:160px;
    padding:20px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:#008080;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border:none;
    border-radius:15px;
    align-self: center;
    border:solid;
    border-width: 1px;
    border-color:#008080;
}
/* #sr{
    padding-left:1500px;
} */

.names {
    position: relative;
    display: flex;
    flex-direction: row; /* Change from 'row' to 'column' to stack the items vertically */
    margin-top: -250px; /* Adjust this value as needed to move it closer to "Tutors near me" */
    align-self: end; /* Vertically center the content */
}

#ii{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    
}


#yy{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: azure;
    width: 500px;
    padding:20px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:#008080;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border-width: 1px;
    border-color:black ;
    border:solid;
    border-radius:15px;
    align-self: center;
    position:relative;
    bottom:300px;
    left:500px;
}
#par{
    
    padding-bottom: 2000px;
}

.nameClass {
    padding-left: 10%;
}
#mod{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}