nav ul{
    list-style: none;
    
    border:2px solid #008080;
    padding: 0%;
    margin: 0%;
    border-radius:25px;
    place-items: center;
    height:80px;
    position:relative;
    top:130px;
}
nav li{
    display: inline-block;
    padding-top: 15px;
    padding-left: 280px;
    
}
nav a{
    text-decoration: none;
    color:black;
    width:100px;
    text-align: center;
    padding:20px;

}
nav a:hover{
    color:blue;
}
#x2{
    position:relative;
    bottom:120px;
}
h1{
    color:#008080;
    font-family:"Pacifico";
    text-align:left;
    font-size:30PX;
    /* padding-top: 40px;
    padding-left: 120px; */
    /* float:left */
    position:relative;
    bottom:55px;
    right:230px;
    padding-top:25px;
    
}
#ee{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: #008080;
    width:160px;
    padding:15px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:azure;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border-width:2px;
    border-radius:15px;
    border-color:#008080;
    position:relative;
    bottom:58px;
    left:700px;
}
.google-map {
    /* padding-bottom: 50%; */
    position: relative
    /* right:300px; */
}

.google-map iframe {
    height: 250px;
    width: 600px;
    left: 10px;
    top: 0;
    position: relative;
    left:600px;
    top:10px;
    border-radius:20px;
}
container{
    height:350px;
    width: 900px;
}
#x3{

}
container ul{
    list-style: none;
    
    border:2px solid #008080;
    padding: 0%;
    margin: 0%;
    border-radius:25px;
    place-items: center;
    height:300px;
    position:relative;
    top:130px;
}
container li{
    display: inline-block;
    padding-top: 15px;
    padding-left: 280px;
    
}
container a{
    text-decoration: none;
    color:black;
    width:100px;
    text-align: center;
    padding:20px;

}
container a:hover{
    color:blue;
}
#x3{
    position:relative;
    bottom:100px;
}
#navi{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: #008080;
    width: 500px;
    padding:20px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:azure;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border-width: 1px;
    border-color:black ;
    border:solid;
    border-radius:15px;
    align-self: center;
    position:relative;
    bottom:110px;
    right:900px;

}
#k3{
    position:relative;
    left:800px;
}
#na{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: #008080;
    width: 500px;
    padding:20px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:azure;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border-width: 1px;
    border-color:black ;
    border:solid;
    border-radius:15px;
    align-self: center;
    position:relative;
    bottom:110px;
    right:670px;
}
#y3{
    position:relative;
    /* top:5px; */
    bottom:70px;
}

#SSimg {
    width: 350px;
    height: 250px;
}