h1{
    color:azure;
    font-family:"Pacifico";
    text-align:left;
    font-size:110PX;
    /* padding-top: 40px;
    padding-left: 120px; */
    /* float:left */
    position:relative;
    /* left:160px; */
    top:150px;
    
    
}
body{
    background-image:linear-gradient(
        #008080 75%,
        azure 75%,
        azure
        );
    font-family:"Montserrat";
    font-weight:180px;
    
}
/* p{
    font: size 100px;
}
#x1{
    
    text-align:center;
}

#x3{
   
    text-align:center;
}
#x4{
    
    font-family:"Pacifico";
    text-align:center;
    
}

nav ul{
    list-style: none;
    
    border:1px solid black;
    padding: 0%;
    margin: 0%;
    border-radius: 10px;
    place-items: center;
    height:50px;
}
nav li{
    display: inline-block;
    padding-top: 15px;
    padding-left: 280px;
    
}
nav a{
    text-decoration: none;
    color:black;
    width:100px;
    text-align: center;
    padding:20px;

}
nav a:hover{
    color:blue;
}


footer ul{
    list-style:none;
    border:1px solid black;
    background-color:azure;
    padding: 0%;
    margin: 0%;
    border-radius: 10px;
    place-items: center;
    height:50px;
}
footer li{
    display: inline-block;
    padding-top: 15px;
    padding-left: 180px;
    
}
footer a{
    text-decoration: none;
    color:black;
    width:100px;
    text-align: center;
    padding:20px;

}
footer a:hover{
    color:blue;
}




h2,h4{
    font-family:"Montserrat";
}

#a9{
    padding:10px;
}

header{
    height:100vh;
}

#s2{
    color:black

}

#ss{
    float:right;
    /* padding-right: 280px;
    padding-bottom: 30px;
    padding-top: 200px; */
    /* position:relative;
    bottom:200px;
    right:170px;
    top:0px;

}
#s1{
    list-style-type: none;
    
}
#s4{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: azure;
    width:160px;
    padding:20px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:#ABD699;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border:none;
    border-radius:15px;
}
#s3{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: azure;
    width:202px;
    padding:20px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:#ABD699;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border:none;
    border-radius:15px;
    padding-left: 10px;
}


#cpt{
    position:relative;
    right:720px;
    top:420px;
    text-align: center;
    color:azure;
    font-weight:bold;
}
    
/* @media screen and (max-width:960px){
    nav a{
        padding:14px 10px;
    }

} */
/*     
@media screen and (max-width:500px){
    h1{
        font-size: 80px;
        position:relative;
        right:30px;
        top:45px;
      
    }

    ss{
        position:relative;
        left:125px;
        right:100px;
        bottom:60px;  
        font-size:10px;

    }
    #s4{
        font-family:"Montserrat" ;
        font-size: 12px;
        font-weight: bold;
        background-color: azure;
        width:120px;
        padding:15px;
        text-align:center;
        text-decoration: none;
        text-transform: uppercase;
        color:#ABD699;
        border-radius: 5px;
        cursor: pointer;
        overflow:hidden;
        border:none;
        border-radius:15px;
    }
    #s3{
        font-family:"Montserrat" ;
        font-size: 12px;
        font-weight: bold;
        background-color: azure;
        width:150px;
        padding:15px;
        text-align:center;
        text-decoration: none;
        text-transform: uppercase;
        color:#ABD699;
        border-radius: 5px;
        cursor: pointer;
        overflow:hidden;
        border:none;
        border-radius:15px;
        padding-left: 10px;
    }

    body{
        background-image:linear-gradient(
        #ABD699 23%,
        azure 23%,
        azure 
        
        );
    } */

    /* #kk{
        position:relative;
        right:270px;

    }
    #k1{
        position:relative;
        bottom:34px;
        right:112px;
    }
    #k2{
        position:relative;
        bottom:67px;
        left:50px;
    }

    #ii{
        font-size:12px;
        position:relative;
        right:183px;
     
    }
    #i1{
        font-size:12px;
        position:relative;
        right:20px;
        bottom:29px;
    }
    #i2{
        font-size:12px;
        position:relative;
        bottom:60px;
        right:0px;
        left:40px;
    }
    #i3{
        font-size:12px;
        position:relative;
        bottom:90px;
        right:0px;
        left:140px;
    }
    #cpt{
        /* bottom:0px;
        float right; */
        /* position:relative;
        left:500px;
    } */

    

/* #a1{
    position:relative;
    top:2000px;
}