body{
    text-align: center;
    background-color: #008080;
    color:black;
    font-family: "Montserrat";
}
h1{
    font-size:50px;
}
#container{
    border:1px solid black;
    width:400px;
    position:relative;
    left:550px;
    top:200px;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: azure;
}
#hari{
    font-family:"Montserrat" ;
    border:1px solid black;
    font-size: 14px;
    border-radius:15px;
    width:100px;
    padding:7px;
    text-align:center;
    background-color: azure;
    cursor: pointer;
    overflow:hidden;
    font-weight: bold;
    text-transform: uppercase;
}