h1{
    color:azure;
    font-family:"Pacifico";
    text-align:left;
    font-size:110PX;
    /* padding-top: 40px;
    padding-left: 120px; */
    /* float:left */
    position:relative;
    /* left:160px; */
    top:130px;
    left:150px;
    
    
}
body{
    background-image:linear-gradient(
        #008080 40%,
        azure 40%,
        azure
        );
    font-family:"Montserrat";
    font-weight:180px;
    
}

#ss{
    float:right;
    /* padding-right: 280px;
    padding-bottom: 30px;
    padding-top: 200px; */
    position:relative;
    bottom:150px;
    right:170px;
    

}

#s4{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: azure;
    width:160px;
    padding:20px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:#008080;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border:none;
    border-radius:15px;
   
}
#s3{
    font-family:"Montserrat" ;
    font-size: 18px;
    font-weight: bold;
    background-color: azure;
    width:202px;
    padding:20px;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color:#008080;
    border-radius: 5px;
    cursor: pointer;
    overflow:hidden;
    border:none;
    border-radius:15px;
    padding-left: 10px;
}


#cpt{
    position:relative;
    left:250px;
    top:20px;


    color:azure;
    font-weight:bold;
}
nav ul{
    list-style: none;
    
    border:1px solid black;
    padding: 0%;
    margin: 0%;
    border-radius: 10px;
    place-items: center;
    height:50px;
    position:relative;
    top:320px;
}
nav li{
    display: inline-block;
    padding-top: 15px;
    padding-left: 280px;
    
}
#a1{
    position:relative;
    top:200px;
}
#s1{
    list-style-type: none;
}